body {
 margin:0;
 padding: 0;
 box-sizing: border-box;
}

.container {
 display: flex;
 width: 100vw;
 height: 100vh;
 justify-content: center;
 align-items: center;
 background-color: rgb(0, 0, 0);
}

/* Gallery */


.gallery {
 position: relative;
 width: 80%;
 height: 90vh;

 
}

.arrow {
 overflow:hidden;
 display: block;
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 font-size: 30px;
 width: 50px;
 height: 100px;
 border: none;
 background-color: transparent;
 
 
}

.gallery__prev {

}
.gallery__next {

}
.arrow:hover {
 background-color: rgba(255, 255, 255, 0.1);
 border-radius: 10%;
}

.fa-circle-arrow-left, 
.fa-circle-arrow-right {

 background-color: purple;
 
 border-radius: 50%;
 
}
.gallery__bar {
 display: grid;
 /* flex-direction: row;
 flex-wrap: wrap; */
 grid-template-columns: repeat(9, 1fr);
 min-width: 100%;
 justify-content: center;
 justify-items: center;
 align-items: center;
 align-content: center;
 
}
.gallery__photonumber {
 color: white;
 flex-basis: 100%;
 text-align: center;
 font-size: 15px;
 font-weight: bold;
 padding: 10px;

}
.gallery__photos {
 width: 100%;
 height: 70%;
 position: relative;
 

}
.photo {
 position: absolute;
 display: block;
 max-height: 100%;
 max-width: 100%;
 transform: translate(-50%);
 transition: 0.2;
 box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.3);
 border-radius: 10px;
}


.gallery__activephoto {
 left: 50%;

 background-color: black;
}

.animationphoto {
 
 animation: photo .5s linear 1;
}
.autoplay {
 display: grid;
 grid-column: 8/9;
 justify-items: center;
 min-width: 100%;
 text-align: center;
}
.gallery__auto {
 position: relative;
 width: 50px;
 height: 26px;
 border-radius: 50px;
}
.gallery__auto::after {
 content: "";
 display: inline-block;
 position: absolute;
 height: 20px;
 width: 20px;
 border-radius: 15px;
 left: 1px;
 top: 1px;
 background-color: purple;
 transition: .5s;
}
.gallery__autoOn::after {

left: 24px;
}

.autoplay__time {
 margin-top: 20px;
 /* grid-column: 9; */
 appearance: none;
 width: 25%;
 outline: none;
 background: white;
 border-radius: 15px;
 color: purple;
}

.autoplay__time::-webkit-slider-thumb {
 -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: purple;
  box-shadow: 0 0 2px 0 #555;
}

.autoplay__timevalue {
 color: purple;
 margin: 10px;
 padding: 5px;
 width: 20px;
 height: 20px;
 font-size: 16px;
 font-weight: bold;
 border: 3px solid purple;
 border-radius: 50%;
}

.autoplay__description {
 display: flex;
 color: purple;
}

@keyframes photo {

 0% {
  opacity: 0.4;
 }

 100% {
  opacity: 1;
 }
}


/* Menu */